<!DOCTYPE html>
<html lang='eso'>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet clinical center</title>
    <script src="https://kit.fontawesome.com/15181efa86.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/ghost-blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/register.css">

</head>

<body>

    <section class="hero is-medium">
        <div class="hero-head">

            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <a href="#">
                                    <form action="/salir">
                                        <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Salir</button>
                                    </form>
                                </a>
                                <a href="#">
                                    <form action="/regresar">
                                        <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Regresar</button>
                                    </form>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

    </section>



    {% block content %} {% endblock %}

</body>

</html>